@import url(c:\Users\luis_\OneDrive\Escritorio\Carpeta Coderhouse\flightproject\css\owl.carousel.min.css);
@import url(c:\Users\luis_\OneDrive\Escritorio\Carpeta Coderhouse\flightproject\css\owl.theme.default.min.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.body-index {
  max-height: 1020px;
  overflow-x: hidden;
}

.body-index .outer-header {
  display: block;
  text-align: center;
}

.body-index .outer-header .banner {
  display: block;
  border-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-index .outer-header .banner img {
  max-width: 90%;
}

.body-index .modal-header {
  display: block;
  text-align: center;
}

.body-index .modal-header img {
  height: 80%;
  width: 80%;
}

.body-index #container-big {
  max-height: 800px;
  margin: 1px;
  padding: 7px;
  background-color: #1f1d1d;
  color: #444;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-columns: 95% 5%;
      grid-template-columns: 95% 5%;
  -ms-grid-rows: 5% 90% 5%;
      grid-template-rows: 5% 90% 5%;
      grid-template-areas: "sidebar1 sidebar1" "contenido1 sidebar2" "pie pie";
}

.body-index #container-big .box_sidebar1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1;
  border-radius: 5px;
  background-color: #444;
  padding-top: 5px;
  margin-right: 0;
}

.body-index #container-big .box_sidebar2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: sidebar2;
  border-radius: 5px;
  background-color: #444;
  padding-top: 5px;
  margin-right: 0;
}

.body-index #container-big .upper_box_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contenido1;
  display: block;
  text-align: center;
  max-height: 1200px;
  background-color: #444;
  padding: 2px 1% 2% 0;
  color: #fff;
  border-radius: 5px;
  margin-top: 0px;
}

.body-index #container-big .upper_box_content .owl-carousel {
  padding-top: 2px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  max-height: 470px;
  max-width: 1260px;
}

.body-index #container-big .upper_box_content .owl-carousel .owl-item {
  max-height: 470px;
  text-align: center;
  max-width: 313px;
  padding-left: 1%;
}

.body-index #container-big .upper_box_content h3 {
  padding-bottom: 0px;
  margin-bottom: 1px;
}

.body-index #container-big .upper_box_content .match1, .body-index #container-big .upper_box_content .match2, .body-index #container-big .upper_box_content .match3, .body-index #container-big .upper_box_content .match4, .body-index #container-big .upper_box_content .match5, .body-index #container-big .upper_box_content .match6, .body-index #container-big .upper_box_content .match7 {
  border-style: none;
}

.body-index #container-big .upper_box_content .premier_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.body-index #container-big .upper_box_content .premier_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.body-index #container-big .upper_box_content .premier_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .premier_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .premier_matches li:nth-child(2) {
  text-align: center;
}

.body-index #container-big .upper_box_content .premier_matches li:nth-child(5) {
  text-align: center;
}

.body-index #container-big .upper_box_content .uruguay_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.body-index #container-big .upper_box_content .uruguay_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.body-index #container-big .upper_box_content .uruguay_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .uruguay_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .uruguay_matches li:nth-child(2) {
  text-align: center;
}

.body-index #container-big .upper_box_content .uruguay_matches li:nth-child(5) {
  text-align: center;
}

.body-index #container-big .upper_box_content .argentina_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.body-index #container-big .upper_box_content .argentina_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.body-index #container-big .upper_box_content .argentina_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .argentina_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .argentina_matches li:nth-child(2) {
  text-align: center;
}

.body-index #container-big .upper_box_content .argentina_matches li:nth-child(5) {
  text-align: center;
}

.body-index #container-big .upper_box_content .espana_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.body-index #container-big .upper_box_content .espana_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.body-index #container-big .upper_box_content .espana_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .espana_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.body-index #container-big .upper_box_content .espana_matches li:nth-child(2) {
  text-align: center;
}

.body-index #container-big .upper_box_content .espana_matches li:nth-child(5) {
  text-align: center;
}

.body-index #container-big .foot {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pie;
  background-color: #999;
  color: black;
}

/* Responsive layout -  */
@media screen and (max-width: 600px) {
  .body-index, html {
    width: 100%;
    height: 700px;
  }
  .body-index #container-big, html #container-big {
    max-height: 600px;
    margin: 0 1px 0 1px;
    padding: 1px;
    background-color: #444;
    color: #444;
    display: -ms-grid;
    display: grid;
    grid-gap: 2px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 12fr 0.2fr 14fr 2fr;
        grid-template-rows: 1fr 12fr 0.2fr 14fr 2fr;
        grid-template-areas: "sidebar1 sidebar1" "contenido1 contenido1" "sidebar2 sidebar2" "contenido2 contenido2" "pie pie";
  }
  .body-index #container-big .box_sidebar1, html #container-big .box_sidebar1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: sidebar1;
    border-radius: 5px;
    background-color: #444;
    padding-top: 3px;
    margin-right: 0;
  }
  .body-index #container-big .box_sidebar2, html #container-big .box_sidebar2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: sidebar2;
    border-radius: 5px;
    background-color: #444;
    padding-top: 0px;
    height: 20px;
  }
  .body-index #container-big .upper_box_content, html #container-big .upper_box_content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contenido1;
    display: block;
    text-align: center;
    max-height: 270px;
    width: 390px;
    background-color: #444;
    padding: 0 0 0 0%;
    color: #fff;
    border-radius: 5px;
    margin-top: 0px;
  }
  .body-index #container-big .upper_box_content .owl-carousel, html #container-big .upper_box_content .owl-carousel {
    display: inline-block;
    padding-top: 5px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    max-height: 300px;
    width: 300px;
    margin-left: 0.8%;
    padding-left: 0;
  }
  .body-index #container-big .upper_box_content .owl-carousel .owl-item, html #container-big .upper_box_content .owl-carousel .owl-item {
    max-height: 300px;
    width: 215px;
    margin-left: 0.3%;
    margin-right: 1.3%;
    padding-right: 1rem;
    text-align: center;
  }
  .body-index #container-big .upper_box_content h3, html #container-big .upper_box_content h3 {
    padding-bottom: 3px;
  }
  .body-index #container-big .lower_box_content, html #container-big .lower_box_content {
    max-height: 300px;
    background-color: #444;
    margin-top: 0;
    padding: 0 0 0 0;
    color: #fff;
    border-radius: 5px;
    font-size: 60%;
    display: block;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0px;
  }
  .body-index #container-big .lower_box_content .owl-carousel, html #container-big .lower_box_content .owl-carousel {
    padding-top: 5px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    max-height: 400px;
  }
  .body-index #container-big .lower_box_content .owl-carousel .owl-item, html #container-big .lower_box_content .owl-carousel .owl-item {
    max-height: 380px;
    text-align: center;
    padding-right: 0.8%;
  }
  .body-index #container-big .lower_box_content h3, html #container-big .lower_box_content h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .body-index #container-big .foot, html #container-big .foot {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: pie;
    display: inline-block;
    border-style: solid;
    background-color: #999999;
    color: black;
    margin-top: 0px;
    padding-top: 0%;
  }
  .body-index #container-big .foot p, html #container-big .foot p {
    display: inline-block;
    padding-top: 10px;
  }
}

h3 {
  color: #fff;
}

header {
  min-width: 250px;
  margin-top: 2px;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .tittle-container {
  padding-top: 20px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .tittle-container .titulo {
  min-width: 250px;
  border-radius: 7px;
  padding-top: 5px;
  font-family: "myFirstFont";
  background-color: whitesmoke;
  color: #fa7407;
  text-align: center;
}

h3 {
  color: #b3b3b3;
}

.tabla_goleadores, .tabla_asistencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'CustomHeading';
  src: url("../images/font/SFSportsNight.ttf") format("embedded-opentype"), url("../images/font/SFSportsNight.ttf") format("woff2"), url("../images/font/SFSportsNight.ttf") format("woff"), url("../images/font/SFSportsNight.ttf") format("truetype"), url("../images/font/SFSportsNight.ttf") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "myFirstFont";
  src: url(../images/font/SFSportsNight.ttf);
}

body {
  background-color: #cfadad;
}

.outer-header {
  display: block;
  text-align: center;
}

.outer-header .banner {
  display: block;
  border-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outer-header .banner img {
  max-width: 90%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

#map {
  height: 100%;
}

.box_sidebar1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1;
  border-radius: 5px;
  background-color: #444;
  padding-top: 5px;
  margin-right: 0;
}

.box_sidebar1 .inside_sidebar_row1 .flags1 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar1 .inside_sidebar_row1 .flags2 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar1 .inside_sidebar_row2 .flags1 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar1 .inside_sidebar_row2 .flags2 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: sidebar2;
  border-radius: 5px;
  background-color: #444;
  padding-top: 5px;
  margin-right: 0;
}

.box_sidebar2 .inside_sidebar_row1 .flags1 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar2 .inside_sidebar_row1 .flags2 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar2 .inside_sidebar_row2 .flags1 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar2 .inside_sidebar_row2 .flags2 {
  display: block;
  margin-left: 33%;
  margin-top: 11%;
  margin-bottom: 11%;
  height: 30px;
  width: 48px;
}

.box_sidebar1_ligas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1_ligas;
  border-radius: 5px;
}

.box_sidebar2_ligas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: sidebar2_ligas;
  border-radius: 5px;
  padding-left: 5px;
}

.news {
  text-align: center;
  padding-top: 20px;
}

.news h3 {
  padding-top: 0px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}

.upper_box_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contenido1;
}

.lower_box_content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contenido2;
}

.box_left_liga {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: left_liga;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: none;
}

.box_right_goleadores_liga {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: right_goleadores_liga;
  background-color: #444;
  border-style: solid;
  border-color: #fa7407;
  border-radius: 5px;
}

.box_right_goleadores_liga h3 {
  text-align: center;
}

.box_right_asistencias_liga {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: right_asistencias_liga;
  background-color: #444;
  border-style: solid;
  border-color: #fa7407;
  border-radius: 5px;
}

.box_right_asistencias_liga h3 {
  text-align: center;
}

.box_left_liga {
  border-style: solid;
  border-color: #fa7407;
  min-width: 347px;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.box_middle_liga {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: middle_liga;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: none;
  background-color: #444;
  display: inline;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
  border-radius: 5px;
}

.box_middle_liga h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.tabla_goleadores {
  margin: 1px;
}

.tabla_goleadores td {
  padding-right: 10px;
  padding-bottom: 1px;
}

.tabla_asistencias h3 {
  margin-top: 25px;
}

.tabla_asistencias td {
  padding-right: 10px;
  padding-bottom: 1px;
}

.foot {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pie;
}

.foot_ligas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: pie2;
  padding-top: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: #999999;
  margin-top: 3px;
}

.container-big {
  max-height: 1200px;
  margin: 1px;
  padding: 7px;
  background-color: whitesmoke;
  color: #444;
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: 8fr 8fr 2fr;
      grid-template-rows: 8fr 8fr 2fr;
      grid-template-areas: "sidebar1 contenido1 sidebar2" "sidebar1 contenido2 sidebar2" "pie pie pie";
}

.container_ligas {
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px;
  background-color: whitesmoke;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 3fr 3fr 2fr;
      grid-template-columns: 1fr 4fr 3fr 3fr 2fr;
  -ms-grid-rows: 6fr 6fr 1fr;
      grid-template-rows: 6fr 6fr 1fr;
      grid-template-areas: "sidebar1_ligas left_liga middle_liga right_goleadores_liga sidebar2_ligas" "sidebar1_ligas left_liga middle_liga right_asistencias_liga sidebar2_ligas" "pie2 pie2 pie2 pie2 pie2";
}

.lower_box_content {
  max-height: 500px;
  background-color: #444;
  padding: 0.1% 0 0 0;
  color: #fff;
  border-radius: 5px;
  font-size: 60%;
  display: block;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.lower_box_content .owl-carousel {
  padding-top: 10px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  max-height: 480px;
}

.lower_box_content .owl-carousel .owl-item {
  max-height: 480px;
  text-align: center;
}

.lower_box_content h3 {
  padding-top: 0.4%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.upper_box_content {
  display: block;
  text-align: center;
  max-height: 1000px;
  background-color: #444;
  padding: 0 0 0 0;
  color: #fff;
  border-radius: 5px;
  margin-top: 0px;
}

.lower_outer_box_content {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "uruguaya argentina premier espana" "uruguaya argentina premier espana";
}

.uruguaya, .argentina, .premier, .espana {
  height: 25%;
  text-align: center;
  min-width: 80px;
  border-style: solid;
  border-color: #fa7407;
  border-radius: 7px;
  font-size: small;
}

td {
  border: 1px solid #999;
}

tr {
  white-space: nowrap;
  overflow: hidden;
}

th {
  border: 1px solid #999;
}

caption {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.foot {
  background-color: #999;
  color: black;
}

.news iframe {
  width: 170px;
  height: 190px;
}

.game1, .game2, .game3, .game4, .game5, .game6, .game7 {
  padding: 0px;
  font-size: small;
  border-style: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 10% 35% 10% 10% 35%;
      grid-template-columns: 10% 35% 10% 10% 35%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "lefty1 lefty2 centered righty1 righty2";
}

.game1 .lefty1, .game2 .lefty1, .game3 .lefty1, .game4 .lefty1, .game5 .lefty1, .game6 .lefty1, .game7 .lefty1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lefty1;
}

.game1 .lefty2, .game2 .lefty2, .game3 .lefty2, .game4 .lefty2, .game5 .lefty2, .game6 .lefty2, .game7 .lefty2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lefty2;
}

.game1 .righty1, .game2 .righty1, .game3 .righty1, .game4 .righty1, .game5 .righty1, .game6 .righty1, .game7 .righty1 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: righty1;
}

.game1 .righty2, .game2 .righty2, .game3 .righty2, .game4 .righty2, .game5 .righty2, .game6 .righty2, .game7 .righty2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: righty2;
}

.game1 .centered, .game2 .centered, .game3 .centered, .game4 .centered, .game5 .centered, .game6 .centered, .game7 .centered {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: centered;
}

.matches_liga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  background-color: #444;
}

.matches_liga td {
  padding-right: 10px;
  padding-bottom: 2px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

.bandera {
  size: 1px;
}

tr {
  margin-bottom: 50px;
}

.grupoA, .grupoB, .grupoC, .grupoD, .grupoE, .grupoF, .grupoG, .grupoH {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  justify-content: center;
  gap: none;
  background-color: #444;
  display: block;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 100px;
  border-radius: 5px;
}

.grupoA .top-top, .grupoB .top-top, .grupoC .top-top, .grupoD .top-top, .grupoE .top-top, .grupoF .top-top, .grupoG .top-top, .grupoH .top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grupoA .top-top table, .grupoB .top-top table, .grupoC .top-top table, .grupoD .top-top table, .grupoE .top-top table, .grupoF .top-top table, .grupoG .top-top table, .grupoH .top-top table {
  display: block;
  font-size: small;
}

.grupoA .top-top table caption, .grupoB .top-top table caption, .grupoC .top-top table caption, .grupoD .top-top table caption, .grupoE .top-top table caption, .grupoF .top-top table caption, .grupoG .top-top table caption, .grupoH .top-top table caption {
  min-width: 50px;
}

.grupoA .carousel-indicators, .grupoB .carousel-indicators, .grupoC .carousel-indicators, .grupoD .carousel-indicators, .grupoE .carousel-indicators, .grupoF .carousel-indicators, .grupoG .carousel-indicators, .grupoH .carousel-indicators {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 5px;
}

.grupoA .carousel-item .container, .grupoB .carousel-item .container, .grupoC .carousel-item .container, .grupoD .carousel-item .container, .grupoE .carousel-item .container, .grupoF .carousel-item .container, .grupoG .carousel-item .container, .grupoH .carousel-item .container {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grupoA .carousel-item .container table, .grupoB .carousel-item .container table, .grupoC .carousel-item .container table, .grupoD .carousel-item .container table, .grupoE .carousel-item .container table, .grupoF .carousel-item .container table, .grupoG .carousel-item .container table, .grupoH .carousel-item .container table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grupoA .carousel-item .container table .Fecha1, .grupoB .carousel-item .container table .Fecha1, .grupoC .carousel-item .container table .Fecha1, .grupoD .carousel-item .container table .Fecha1, .grupoE .carousel-item .container table .Fecha1, .grupoF .carousel-item .container table .Fecha1, .grupoG .carousel-item .container table .Fecha1, .grupoH .carousel-item .container table .Fecha1 {
  display: block;
  margin-bottom: 0;
}

.grupoA .carousel-item .container table .Fecha1 td, .grupoB .carousel-item .container table .Fecha1 td, .grupoC .carousel-item .container table .Fecha1 td, .grupoD .carousel-item .container table .Fecha1 td, .grupoE .carousel-item .container table .Fecha1 td, .grupoF .carousel-item .container table .Fecha1 td, .grupoG .carousel-item .container table .Fecha1 td, .grupoH .carousel-item .container table .Fecha1 td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: none;
}

.grupoA .carousel-item .container table .dia-Fecha1, .grupoB .carousel-item .container table .dia-Fecha1, .grupoC .carousel-item .container table .dia-Fecha1, .grupoD .carousel-item .container table .dia-Fecha1, .grupoE .carousel-item .container table .dia-Fecha1, .grupoF .carousel-item .container table .dia-Fecha1, .grupoG .carousel-item .container table .dia-Fecha1, .grupoH .carousel-item .container table .dia-Fecha1 {
  display: block;
  margin-bottom: 0;
}

.grupoA .carousel-item .container table .dia-Fecha1 td, .grupoB .carousel-item .container table .dia-Fecha1 td, .grupoC .carousel-item .container table .dia-Fecha1 td, .grupoD .carousel-item .container table .dia-Fecha1 td, .grupoE .carousel-item .container table .dia-Fecha1 td, .grupoF .carousel-item .container table .dia-Fecha1 td, .grupoG .carousel-item .container table .dia-Fecha1 td, .grupoH .carousel-item .container table .dia-Fecha1 td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: none;
}

.grupoA .carousel-item .container table .celda-izq, .grupoA .carousel-item .container table .celda-der, .grupoB .carousel-item .container table .celda-izq, .grupoB .carousel-item .container table .celda-der, .grupoC .carousel-item .container table .celda-izq, .grupoC .carousel-item .container table .celda-der, .grupoD .carousel-item .container table .celda-izq, .grupoD .carousel-item .container table .celda-der, .grupoE .carousel-item .container table .celda-izq, .grupoE .carousel-item .container table .celda-der, .grupoF .carousel-item .container table .celda-izq, .grupoF .carousel-item .container table .celda-der, .grupoG .carousel-item .container table .celda-izq, .grupoG .carousel-item .container table .celda-der, .grupoH .carousel-item .container table .celda-izq, .grupoH .carousel-item .container table .celda-der {
  width: 2rem;
  height: 1.33rem;
}

.grupoA .carousel-item .container table .celda-res-izq, .grupoA .carousel-item .container table .celda-res-der, .grupoB .carousel-item .container table .celda-res-izq, .grupoB .carousel-item .container table .celda-res-der, .grupoC .carousel-item .container table .celda-res-izq, .grupoC .carousel-item .container table .celda-res-der, .grupoD .carousel-item .container table .celda-res-izq, .grupoD .carousel-item .container table .celda-res-der, .grupoE .carousel-item .container table .celda-res-izq, .grupoE .carousel-item .container table .celda-res-der, .grupoF .carousel-item .container table .celda-res-izq, .grupoF .carousel-item .container table .celda-res-der, .grupoG .carousel-item .container table .celda-res-izq, .grupoG .carousel-item .container table .celda-res-der, .grupoH .carousel-item .container table .celda-res-izq, .grupoH .carousel-item .container table .celda-res-der {
  text-align: center;
  min-width: 1.5rem;
  height: 1.33rem;
}

.grupoA .carousel-item .container table tr td, .grupoB .carousel-item .container table tr td, .grupoC .carousel-item .container table tr td, .grupoD .carousel-item .container table tr td, .grupoE .carousel-item .container table tr td, .grupoF .carousel-item .container table tr td, .grupoG .carousel-item .container table tr td, .grupoH .carousel-item .container table tr td {
  font-size: medium;
  min-width: 2rem;
  text-align: center;
}

.grupoA .carousel-item .container table tr img, .grupoB .carousel-item .container table tr img, .grupoC .carousel-item .container table tr img, .grupoD .carousel-item .container table tr img, .grupoE .carousel-item .container table tr img, .grupoF .carousel-item .container table tr img, .grupoG .carousel-item .container table tr img, .grupoH .carousel-item .container table tr img {
  width: 2rem;
  height: 1.33rem;
}

.grupoA .carousel-item h3, .grupoB .carousel-item h3, .grupoC .carousel-item h3, .grupoD .carousel-item h3, .grupoE .carousel-item h3, .grupoF .carousel-item h3, .grupoG .carousel-item h3, .grupoH .carousel-item h3 {
  padding-bottom: 1px;
  text-align: center;
  color: #fff;
}

/* Responsive layout -  */
@media screen and (max-width: 600px) {
  body, html {
    width: 100%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .tittle-container {
    display: inline-block;
    max-width: 250px;
    min-height: 75px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  header .tittle-container h1 {
    padding-left: 60px;
    font-size: 1.9rem;
    padding-bottom: 0;
  }
  .outer-header {
    border-style: solid;
    display: block;
    text-align: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .outer-header .banner {
    display: block;
    padding-left: 3px;
    max-width: 460px;
  }
  .outer-header .banner img {
    max-width: 90%;
  }
  .container-big {
    min-height: 1150px;
    margin: 1px;
    padding: 4px;
    background-color: #444;
    color: #444;
    display: -ms-grid;
    display: grid;
    grid-gap: 2px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 4% 40% 5% 39% 10%;
        grid-template-rows: 4% 40% 5% 39% 10%;
        grid-template-areas: "sidebar1 sidebar1" "contenido1 contenido1" "sidebar2 sidebar2" "contenido2 contenido2" "pie pie";
  }
  .container-big .box_sidebar1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar1;
    border-radius: 5px;
    background-color: #444;
    padding-top: 2px;
    margin-right: 0;
  }
  .container-big .box_sidebar1 .inside_sidebar_row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
  }
  .container-big .box_sidebar1 .inside_sidebar_row1 .flags1 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar1 .inside_sidebar_row1 .flags2 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar1 .inside_sidebar_row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .container-big .box_sidebar1 .inside_sidebar_row2 .flags1 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar1 .inside_sidebar_row2 .flags2 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar2;
    border-radius: 5px;
    background-color: #444;
    padding-top: 2px;
    margin-right: 0;
  }
  .container-big .box_sidebar2 .inside_sidebar_row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
  }
  .container-big .box_sidebar2 .inside_sidebar_row1 .flags1 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar2 .inside_sidebar_row1 .flags2 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar2 .inside_sidebar_row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .container-big .box_sidebar2 .inside_sidebar_row2 .flags1 {
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .box_sidebar2 .inside_sidebar_row2 .flags2 {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1.5rem;
  }
  .container-big .foot {
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    padding-top: 70px;
  }
  .lower_box_content {
    min-width: 340px;
    max-height: 420px;
    background-color: #444;
    padding: 7px 0 0 0;
    color: #fff;
    border-radius: 5px;
    font-size: 75%;
    display: block;
  }
  .upper_box_content {
    max-height: 360px;
    display: block;
    text-align: center;
    margin-left: 2px;
    min-width: 340px;
    background-color: #444;
    padding: 0 0 0 0;
    color: #fff;
    border-radius: 5px;
    font-size: 75%;
  }
  .upper_box_content h3 {
    padding-bottom: 1px;
    margin-bottom: 1px;
  }
  .lower_outer_box_content {
    min-width: 340px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 73%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "premier";
  }
  .upper_outer_box_content {
    max-width: 340px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 73%;
  }
  .owl-carousel {
    max-height: 300px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 340px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: large;
    text-align: center;
  }
  .owl-carousel .owl-nav {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 10px;
  }
  .owl-carousel .owl-dots {
    padding-top: 20px;
    min-height: 40px;
    text-align: center;
  }
  .owl-carousel .top-top {
    margin: 0;
    padding: 0;
  }
  .owl-carousel .top-top table {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
  }
  .owl-carousel .top-top table caption {
    font-size: larger;
  }
  .owl-carousel .top-top table tr td {
    font-size: large;
  }
  .container_ligas {
    padding: 7px;
    background-color: #1f1d1d;
    color: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 4% 45% 25% 14% 9% 3%;
        grid-template-rows: 4% 45% 25% 14% 9% 3%;
        grid-template-areas: "sidebar1_ligas sidebar1_ligas" "left_liga left_liga" "middle_liga middle_liga" "right_goleadores_liga right_asistencias_liga" "sidebar2_ligas sidebar2_ligas" "pie2 pie2";
  }
  .container_ligas .tabla_goleadores {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: right_goleadores_liga;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    padding-top: 5px;
  }
  .container_ligas .tabla_goleadores h3 {
    margin-top: 10px;
  }
  .container_ligas .tabla_goleadores td {
    font-size: 0.5em;
    padding-bottom: 1px;
  }
  .container_ligas .tabla_asistencias {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: right_asistencias_liga;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    padding-top: 5px;
  }
  .container_ligas .tabla_asistencias .h3 {
    margin-top: 10px;
  }
  .container_ligas .tabla_asistencias td {
    font-size: 0.5em;
    padding-bottom: 1px;
  }
  .container_ligas .box_middle_liga {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: middle_liga;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: #fa7407;
    min-width: 100px;
    border-radius: 5px;
  }
  .container_ligas .box_middle_liga h3 {
    padding-bottom: 2px;
    text-align: center;
    color: #fff;
  }
  .container_ligas .box_sidebar1_ligas {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar1_ligas;
    border-radius: 5px;
  }
  .container_ligas .box_sidebar1_ligas h3 {
    font-size: medium;
    text-align: center;
  }
  .container_ligas .box_sidebar2_ligas {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar2_ligas;
    border-radius: 5px;
  }
  .container_ligas .box_sidebar2_ligas .news {
    padding-top: 0px;
  }
  .container_ligas .box_sidebar2_ligas .news iframe {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    width: 140px;
  }
  .uruguaya, .argentina, .premier, .espana {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 25%;
    min-width: 300px;
    margin-top: 5px;
    border-style: solid;
    border-color: #fa7407;
    border-radius: 7px;
    font-size: 18px;
  }
  .premier_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .uruguay_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .argentina_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .espana_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .lower_box_content {
    margin-top: 10px;
    padding-top: 10px;
    max-height: 380px;
  }
  .box_sidebar2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar2;
    border-radius: 5px;
    background-color: #444;
    padding-top: 20px;
    margin-right: 0;
  }
  .box_sidebar2 .inside_sidebar_row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1px;
    margin-left: 3.5%;
    margin-bottom: 2%;
  }
  .box_sidebar2 .inside_sidebar_row1 .flags1 {
    height: 1.6rem;
    width: 2.4rem;
  }
  .box_sidebar2 .inside_sidebar_row1 .flags2 {
    height: 1.6rem;
    width: 2.4rem;
  }
  .box_sidebar2 .inside_sidebar_row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2px;
    margin-left: 3.5%;
  }
  .box_sidebar2 .inside_sidebar_row2 .flags1 {
    height: 1.6rem;
    width: 2.4rem;
  }
  .box_sidebar2 .inside_sidebar_row2 .flags2 {
    height: 1.6rem;
    width: 2.4rem;
  }
}
/*# sourceMappingURL=main.css.map */