@import url(c:\Users\luis_\OneDrive\Escritorio\Carpeta Coderhouse\FutbolWeb\css\owl.carousel.min.css);
@import url(c:\Users\luis_\OneDrive\Escritorio\Carpeta Coderhouse\FutbolWeb\css\owl.theme.default.min.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h3 {
  color: #fff;
}

header {
  margin-top: 10px;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .tittle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .tittle-container .titulo {
  font-family: "myFirstFont";
  background-color: black;
  color: #fa7407;
  text-align: center;
}

header .logo-container .logo {
  height: 5%;
  margin-top: 5px;
  margin-left: 15px;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

h3 {
  color: #b3b3b3;
}

.tabla_goleadores, .tabla_asistencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'CustomHeading';
  src: url("../images/font/SFSportsNight.ttf") format("embedded-opentype"), url("../images/font/SFSportsNight.ttf") format("woff2"), url("../images/font/SFSportsNight.ttf") format("woff"), url("../images/font/SFSportsNight.ttf") format("truetype"), url("../images/font/SFSportsNight.ttf") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "myFirstFont";
  src: url(../images/font/SFSportsNight.ttf);
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.box_sidebar1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: #444;
}

.box_sidebar2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: sidebar2;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: #444;
}

.box_sidebar1_ligas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1_ligas;
  border-radius: 5px;
}

.box_sidebar2_ligas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: sidebar2_ligas;
  border-radius: 5px;
  padding-left: 5px;
}

.news {
  text-align: center;
  padding-top: 20px;
}

.upper_box_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contenido1;
}

.lower_box_content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contenido2;
}

.box_left_liga {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: left_liga;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: none;
}

.box_right_goleadores_liga {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: right_goleadores_liga;
  background-color: #444;
  border-style: solid;
  border-color: #fa7407;
  border-radius: 5px;
}

.box_right_goleadores_liga h3 {
  text-align: center;
}

.box_right_asistencias_liga {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: right_asistencias_liga;
  background-color: #444;
  border-style: solid;
  border-color: #fa7407;
  border-radius: 5px;
}

.box_right_asistencias_liga h3 {
  text-align: center;
}

.box_left_liga {
  border-style: solid;
  border-color: #fa7407;
  min-width: 347px;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.box_middle_liga {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: middle_liga;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: none;
  background-color: #444;
  display: inline;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
  border-radius: 5px;
}

.box_middle_liga h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.tabla_goleadores {
  margin: 1px;
}

.tabla_goleadores td {
  padding-right: 10px;
  padding-bottom: 1px;
}

.tabla_asistencias h3 {
  margin-top: 25px;
}

.tabla_asistencias td {
  padding-right: 10px;
  padding-bottom: 1px;
}

.foot {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pie;
}

.foot_ligas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: pie2;
  padding-top: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: #999999;
  margin-top: 3px;
}

.container-big {
  max-height: 1200px;
  margin: 1px;
  padding: 7px;
  background-color: #1f1d1d;
  color: #444;
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: 8fr 8fr 2fr;
      grid-template-rows: 8fr 8fr 2fr;
      grid-template-areas: "sidebar1 contenido1 sidebar2" "sidebar1 contenido2 sidebar2" "pie pie pie";
}

.container_ligas {
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px;
  background-color: #1f1d1d;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 3fr 3fr 2fr;
      grid-template-columns: 1fr 4fr 3fr 3fr 2fr;
  -ms-grid-rows: 6fr 6fr 1fr;
      grid-template-rows: 6fr 6fr 1fr;
      grid-template-areas: "sidebar1_ligas left_liga middle_liga right_goleadores_liga sidebar2_ligas" "sidebar1_ligas left_liga middle_liga right_asistencias_liga sidebar2_ligas" "pie2 pie2 pie2 pie2 pie2";
}

.lower_box_content {
  max-height: 500px;
  background-color: #444;
  padding: 7px 0 0 0;
  color: #fff;
  border-radius: 5px;
  font-size: 60%;
  display: block;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.lower_box_content .owl-carousel {
  padding-top: 10px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 35%;
  max-height: 480px;
}

.lower_box_content .owl-carousel .owl-item {
  max-height: 480px;
  text-align: center;
}

.upper_box_content {
  display: block;
  text-align: center;
  max-height: 700px;
  background-color: #363232;
  padding: 0 0 0 0;
  color: #fff;
  border-radius: 5px;
  margin-top: 7px;
}

.lower_outer_box_content {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "uruguaya argentina premier espana" "uruguaya argentina premier espana";
}

.uruguaya, .argentina, .premier, .espana {
  height: 25%;
  text-align: center;
  min-width: 80px;
  border-style: solid;
  border-color: #fa7407;
  border-radius: 7px;
  font-size: small;
}

td {
  border: 1px solid #999;
}

tr {
  white-space: nowrap;
  overflow: hidden;
}

th {
  border: 1px solid #999;
}

caption {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.foot {
  background-color: #999;
  color: black;
}

.news iframe {
  width: 170px;
  height: 190px;
}

.game1, .game2, .game3, .game4, .game5, .game6, .game7 {
  padding: 1px;
  font-size: small;
  border-style: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 10% 35% 10% 10% 35%;
      grid-template-columns: 10% 35% 10% 10% 35%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "lefty1 lefty2 centered righty1 righty2";
}

.game1 .lefty1, .game2 .lefty1, .game3 .lefty1, .game4 .lefty1, .game5 .lefty1, .game6 .lefty1, .game7 .lefty1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lefty1;
}

.game1 .lefty2, .game2 .lefty2, .game3 .lefty2, .game4 .lefty2, .game5 .lefty2, .game6 .lefty2, .game7 .lefty2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lefty2;
}

.game1 .righty1, .game2 .righty1, .game3 .righty1, .game4 .righty1, .game5 .righty1, .game6 .righty1, .game7 .righty1 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: righty1;
}

.game1 .righty2, .game2 .righty2, .game3 .righty2, .game4 .righty2, .game5 .righty2, .game6 .righty2, .game7 .righty2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: righty2;
}

.game1 .centered, .game2 .centered, .game3 .centered, .game4 .centered, .game5 .centered, .game6 .centered, .game7 .centered {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: centered;
}

.matches_liga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  background-color: #444;
}

.matches_liga td {
  padding-right: 10px;
  padding-bottom: 2px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

.match1, .match2, .match3, .match4, .match5, .match6, .match7 {
  border-style: none;
}

.premier_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.premier_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 5px;
}

.premier_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.premier_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.premier_matches li:nth-child(2) {
  text-align: center;
}

.premier_matches li:nth-child(5) {
  text-align: center;
}

.uruguay_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.uruguay_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 5px;
}

.uruguay_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.uruguay_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.uruguay_matches li:nth-child(2) {
  text-align: center;
}

.uruguay_matches li:nth-child(5) {
  text-align: center;
}

.argentina_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.argentina_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 5px;
}

.argentina_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.argentina_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.argentina_matches li:nth-child(2) {
  text-align: center;
}

.argentina_matches li:nth-child(5) {
  text-align: center;
}

.espana_matches {
  display: block;
  border: solid;
  border-color: #fa7407;
  border-radius: 7px;
}

.espana_matches h3 {
  font-size: medium;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 5px;
}

.espana_matches li:nth-child(3) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.espana_matches li:nth-child(4) {
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.espana_matches li:nth-child(2) {
  text-align: center;
}

.espana_matches li:nth-child(5) {
  text-align: center;
}

.box_sidebar1_qatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1_qatar;
  border-radius: 5px;
  padding-left: 5px;
}

.box_sidebar2_qatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  grid-area: sidebar2_qatar;
  border-radius: 5px;
  padding-left: 5px;
}

.bandera {
  size: 1px;
}

tr {
  margin-bottom: 50px;
}

.box-left-top-qatar {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left-top-qatar;
  justify-content: center;
  gap: none;
  background-color: #444;
  display: block;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 100px;
  border-radius: 5px;
}

.box-left-top-qatar .top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-left-top-qatar .top-top table {
  display: block;
}

.box-left-top-qatar .top-top table caption {
  min-width: 50px;
}

.box-left-top-qatar .carousel-item .container {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-left-top-qatar .carousel-item .container p {
  text-align: center;
  padding-top: 0;
}

.box-left-top-qatar .carousel-item .container table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-left-top-qatar .carousel-item .container table .celda-izq, .box-left-top-qatar .carousel-item .container table .celda-der {
  width: 2rem;
  height: 1.33rem;
}

.box-left-top-qatar .carousel-item .container table .celda-res-izq, .box-left-top-qatar .carousel-item .container table .celda-res-der {
  text-align: center;
  min-width: 1.5rem;
  height: 1.33rem;
}

.box-left-top-qatar .carousel-item .container table td {
  font-size: medium;
}

.box-left-top-qatar .carousel-item .container table img {
  width: 2rem;
  height: 1.33rem;
}

.box-left-top-qatar .carousel-item h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-middle1-top-qatar {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: middle1-top-qatar;
  gap: none;
  background-color: #444;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
}

.box-middle1-top-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-middle1-top-qatar td {
  font-size: small;
}

.box-middle2-top-qatar {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: middle2-top-qatar;
  gap: none;
  background-color: #444;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
}

.box-middle2-top-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-middle2-top-qatar td {
  font-size: small;
}

.box-right-top-qatar {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: right-top-qatar;
  gap: none;
  background-color: #444;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
}

.box-right-top-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-right-top-qatar td {
  font-size: small;
}

.box-left-bottom-qatar {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: left-bottom-qatar;
  gap: none;
  background-color: #444;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
}

.box-left-bottom-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-left-bottom-qatar td {
  font-size: small;
}

.box-middle1-bottom-qatar {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: middle1-bottom-qatar;
  gap: none;
  background-color: #444;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
}

.box-middle1-bottom-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-middle1-bottom-qatar td {
  font-size: small;
}

.box-middle2-bottom-qatar {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: middle2-bottom-qatar;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: none;
  background-color: #444;
  display: inline;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
  border-radius: 5px;
}

.box-middle2-bottom-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-middle2-bottom-qatar td {
  font-size: small;
}

.box-right-bottom-qatar {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: right-bottom-qatar;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: none;
  background-color: #444;
  display: inline;
  padding-right: 2px;
  border-style: solid;
  border-color: #fa7407;
  min-width: 270px;
  border-radius: 5px;
}

.box-right-bottom-qatar h3 {
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}

.box-right-bottom-qatar td {
  font-size: small;
}

.foot-qatar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: pie-qatar;
  padding-top: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: #999999;
  margin-top: 3px;
}

.container_qatar {
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px;
  background-color: #1f1d1d;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 21% 21% 21% 21% 8%;
      grid-template-columns: 8% 21% 21% 21% 21% 8%;
  -ms-grid-rows: 6fr 6fr 1fr;
      grid-template-rows: 6fr 6fr 1fr;
      grid-template-areas: "sidebar1_qatar left-top-qatar middle1-top-qatar middle2-top-qatar right-top-qatar sidebar2_qatar" "sidebar1_qatar left-bottom-qatar middle1-bottom-qatar middle2-bottom-qatar right-bottom-qatar sidebar2_qatar" "pie-qatar pie-qatar pie-qatar pie-qatar pie-qatar pie-qatar";
}

/* Responsive layout - hace layout de 2 columnas en lugar de 4 */
@media screen and (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .tittle-container {
    display: block;
    max-width: 300px;
  }
  header .tittle-container h1 {
    padding-left: 60px;
  }
  .outer-header {
    border-style: solid;
    display: block;
    text-align: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .outer-header .banner {
    display: block;
    padding-left: 3px;
    max-width: 460px;
  }
  .outer-header .banner img {
    max-width: 90%;
  }
  .container-big {
    margin: 1px;
    max-height: 1260px;
    padding: 6px;
    background-color: #1f1d1d;
    color: #444;
    display: -ms-grid;
    display: grid;
    grid-gap: 2px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 5fr 2fr 1fr 5fr 3fr 1fr;
        grid-template-rows: 1fr 5fr 2fr 1fr 5fr 3fr 1fr;
        grid-template-areas: "sidebar1 sidebar1" "contenido1 contenido1" "contenido1 contenido1" "sidebar2 sidebar2" "contenido2 contenido2" "contenido2 contenido2" "pie pie";
  }
  .lower_box_content {
    min-width: 340px;
    max-height: 380px;
    background-color: #444;
    padding: 7px 0 0 0;
    color: #fff;
    border-radius: 5px;
    font-size: 75%;
    display: block;
  }
  .upper_box_content {
    max-height: 380px;
    display: block;
    text-align: center;
    margin-left: 2px;
    min-width: 340px;
    background-color: #444;
    padding: 0 0 0 0;
    color: #fff;
    border-radius: 5px;
    font-size: 75%;
  }
  .lower_outer_box_content {
    min-width: 340px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 73%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "premier";
  }
  .upper_outer_box_content {
    max-width: 340px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 73%;
  }
  .owl-carousel {
    max-height: 380px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 340px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 75%;
    text-align: center;
  }
  .container_ligas {
    padding: 7px;
    background-color: #1f1d1d;
    color: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 5% 40% 27% 15% 10% 3%;
        grid-template-rows: 5% 40% 27% 15% 10% 3%;
        grid-template-areas: "sidebar1_ligas sidebar1_ligas" "left_liga left_liga" "middle_liga middle_liga" "right_goleadores_liga right_asistencias_liga" "sidebar2_ligas sidebar2_ligas" "pie2 pie2";
  }
  .container_ligas .tabla_goleadores {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: right_goleadores_liga;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    padding-top: 5px;
  }
  .container_ligas .tabla_goleadores h3 {
    margin-top: 10px;
  }
  .container_ligas .tabla_goleadores td {
    font-size: 0.5em;
    padding-bottom: 1px;
  }
  .container_ligas .tabla_asistencias {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: right_asistencias_liga;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    padding-top: 5px;
  }
  .container_ligas .tabla_asistencias .h3 {
    margin-top: 10px;
  }
  .container_ligas .tabla_asistencias td {
    font-size: 0.5em;
    padding-bottom: 1px;
  }
  .container_ligas .box_middle_liga {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: middle_liga;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: #fa7407;
    min-width: 100px;
    border-radius: 5px;
  }
  .container_ligas .box_middle_liga h3 {
    padding-bottom: 2px;
    text-align: center;
    color: #fff;
  }
  .container_ligas .box_sidebar1_ligas {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar1_ligas;
    border-radius: 5px;
  }
  .container_ligas .box_sidebar2_ligas {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar2_ligas;
    border-radius: 5px;
  }
  .container_ligas .box_sidebar2_ligas .news {
    padding-top: 0px;
  }
  .container_ligas .box_sidebar2_ligas .news iframe {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    width: 140px;
  }
  .uruguaya, .argentina, .premier, .espana {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 25%;
    min-width: 300px;
    margin-top: 5px;
    border-style: solid;
    border-color: #fa7407;
    border-radius: 7px;
    font-size: 18px;
  }
  .premier_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .uruguay_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .argentina_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
  .espana_matches {
    display: block;
    border: solid;
    border-color: #fa7407;
    border-radius: 7px;
    min-width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */