
@import './components/indexFormat';
@import "./partials/variables";
@import "./partials/header";
@import '../css/owl.carousel.min.css';
@import '../css/owl.theme.default.min.css';
@import './partials/funciones';
@import './partials/extend';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  @font-face {
    font-family: 'CustomHeading';
    src: url('../images/font/SFSportsNight.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('../images/font/SFSportsNight.ttf') format('woff2'), /* Super Modern Browsers */
    url('../images/font/SFSportsNight.ttf') format('woff'), /* Pretty Modern Browsers */
    url('../images/font/SFSportsNight.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../images/font/SFSportsNight.ttf') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: "myFirstFont";
    src:url(../images/font/SFSportsNight.ttf);
  }
  
  body{
    background-color: rgb(207, 173, 173);
    overflow: auto;
  }

  .modal {
    overflow-y:auto;
  }
  
  .outer-header{
    display: block;
    text-align: center;

    .banner{
        display: block;
        border-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;

        img{
            max-width: 90%;
        }
    }

 }
   
  ul {
    list-style-type:none
  }
  

  a{
    text-decoration: none;
    color:#fff;
  }
  
  #map {
    height: 100%;
  }
  
  .leftInsideContainer {
        grid-area: leftCont;
        border-radius: 5px;
        background-color: #444;
        padding-top: 5px;
        margin-right: 0;
        
  }
  
  .rightInsideContainer {
        grid-area: rightCont;
        border-radius: 5px;
        background-color: #444;
        padding-top: 5px;
        margin-right: 0;

  }
  

  
  .news{
        text-align: center;
        padding-top: 20px;
     h3{
         padding-top: 0px;
         padding-bottom: 1px;
         margin-bottom: 0px;
     }
  }

  

  
  
  .foot {
  grid-area: pie;
  }
  
 
  .bigContainer {
        max-height: 1200px;
        margin: 1px;
        padding: 7px;
        background-color: whitesmoke;
        color: #444;
        display: grid;
            grid-gap: 2px;
            grid-template-columns: 55% 45%;
            grid-template-rows: 8fr 8fr 2fr;
            grid-template-areas:
                "leftCont rightCont"
                "leftCont rightCont"
                "pie pie";
  }
  
  

  
  td{
  border: 1px solid #999;  
  }
  tr{
  white-space: nowrap;
  overflow: hidden;
  
  }
  th {
  border: 1px solid #999;
  
  }
  
  caption{
  font-size: 14px;
  text-align: center;
  color:#fff;
  }
  
  .foot {
    background-color: #999;
    color: black;
  }
  
  .news iframe{
    width: 170px;
    height: 190px;
  }
  

  
  
 

.bandera{
    size:1px;
}


tr{
    margin-bottom: 50px;
}




/* Responsive layout -  */
@media screen and (max-width: 600px) {

    body, html{
        //overflow-x: hidden;
        width:100%;
      }


    header {
      display: flex;
      
      .tittle-container{
        display: inline-block;
        max-width: 250px;
        min-height: 75px;
        margin-bottom: 0;
        padding-bottom: 0;

        h1{
            padding-left: 60px;
            font-size: 1.9rem;
            padding-bottom: 0;
        }
        
      }
  
    }
  

     
  
   .outer-header{
      border-style:solid;
      display: block;
      text-align: center;
      max-width: fit-content;

      .banner{
        display: block;
        padding-left: 3px;
        max-width: 460px;
        
        img{
            max-width: 90%;
        }
      }

    }
  
    

    .bigContainer {
      min-height: 1150px;
      margin: 1px;
      padding: 4px;
      background-color: #444;
      color: #444;
      display: grid;
          grid-gap: 2px;
          grid-template-columns: 70% 30%;
          grid-template-rows: 50% 50%;
          grid-template-areas:
            "sidebar1 sidebar1"
            "contenido1 contenido1"
            "sidebar2 sidebar2"
            "contenido2 contenido2"
            "pie pie";

            .leftInsideContainer {
                grid-area: leftCont;
                border-radius: 5px;
                background-color: #444;
                padding-top: 2px;
                margin-right: 0;
                        
                

        .foot{
            border-radius: 5px;
            display: flex;
            margin-bottom: 0px;
            padding-top: 70px;
        }
    }
    
    .lower_box_content {
      min-width: 340px;
      max-height: 420px;
      background-color: #444;
      padding: 7px 0 0 0;
      color: #fff;
      border-radius: 5px;
      font-size: 75%;
      display: block;
    }
    
    .upper_box_content {
      max-height: 360px;
      display: block;
      text-align: center;
      margin-left: 2px;
      min-width: 340px;
      background-color: #444;
      padding: 0 0 0 0;
      color: #fff;
      border-radius: 5px;
      font-size: 75%;

        h3{
            padding-bottom: 1px;
            margin-bottom: 1px;
        }
    }
  
    .lower_outer_box_content {
      min-width:340px;
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 73%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
            "premier";
    
    }
  
    .upper_outer_box_content {
      max-width: 340px;
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 73%;

    }
  
   .owl-carousel {
        max-height: 300px;
        padding-left: 2px;
        padding-right: 2px;
        min-width: 340px;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        font-size: large;
        text-align: center;

        .owl-nav{
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;
            max-height: 10px;


        }
       

        .owl-dots{
            padding-top: 20px;
            min-height: 40px;
            text-align: center;
        }
        
        .top-top{
            margin: 0;
            padding: 0;


            table{
                margin: 0;
                padding: 0;
                font-size: 1.1rem;

                caption{
                    font-size:larger;
                }
                tr{
                    td{
                        font-size:large;
                    }
                }
            }
        }
    }
   
  
    .container_ligas {
  
      padding: 7px;
      background-color: rgb(31, 29, 29);
      color: #fff;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 4% 45% 25% 14% 9% 3%;
      grid-template-areas:
          "sidebar1_ligas sidebar1_ligas"
          "left_liga left_liga"
          "middle_liga middle_liga"
          "right_goleadores_liga right_asistencias_liga"
          "sidebar2_ligas sidebar2_ligas"
          "pie2 pie2";

        .tabla_goleadores{
            grid-area: right_goleadores_liga;
            display: flex;
            max-width: 230px;
            padding-top: 5px;

            h3{
                margin-top: 10px;
            }

            td{
                font-size: 0.5em;
                padding-bottom: 1px;
            }
        }
      
        .tabla_asistencias{
            grid-area: right_asistencias_liga;
            display: flex;
            max-width: 230px;
            padding-top: 5px;

            .h3{
                margin-top: 10px;
            }

            td{
                font-size: 0.5em;
                padding-bottom: 1px;
            }
        }

        .box_middle_liga{
            grid-area: middle_liga;
            justify-content: center;
            gap: none;
            background-color: #444;
            display: inline;
            padding-right: 2px;
            border-style: solid;
            border-color: rgb(250, 116, 7);
            min-width: 100px;
            border-radius: 5px;
    
            h3{
                padding-bottom: 2px;
                text-align: center;
                color:#fff;
            }
        }

        .box_sidebar1_ligas {
            grid-area: sidebar1_ligas;
            border-radius: 5px;

            h3{
                font-size:medium;
                text-align: center;
            }
        }
      
        .box_sidebar2_ligas {
            grid-area: sidebar2_ligas;
            border-radius: 5px;

            .news {
                padding-top: 0px;
        
                iframe{
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 10px;
                    justify-content: space-between;
                    height: 100px;
                    width: 140px;
                }
            }
        }

    }
  

    .uruguaya, .argentina, .premier, .espana{
      display: inline-block;
      justify-content: center;
      text-align: center;
      height: 25%;
      min-width: 300px;
      margin-top: 5px;
      border-style: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      font-size:18px;
  
    }
    
    .premier_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    
    .uruguay_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    .argentina_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    
    .espana_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    
    }

    

    .lower_box_content{
        margin-top: 10px;
        padding-top: 10px;
        max-height: 380px;
    }

    .box_sidebar2 {
        grid-area: sidebar2;
        border-radius: 5px;
        background-color: #444;
        padding-top: 20px;
        margin-right: 0;
                
                .inside_sidebar_row1{
                    display: flex;
                    margin-top: 1px;
                    margin-left: 3.5%;
                    margin-bottom: 2%;

                    .flags1{
                        height: 1.6rem;
                        width: 2.4rem;

                    }

                    .flags2{
                        height: 1.6rem;
                        width: 2.4rem;

                    }

                }

                .inside_sidebar_row2{
                    display: flex;
                    margin-top: 2px;
                    margin-left: 3.5%;

                    .flags1{
                        height: 1.6rem;
                        width: 2.4rem;

                    }

                    .flags2{
                        height: 1.6rem;
                        width: 2.4rem;

                    }

                }

    }
    
  }
  
}