

@import "./partials/variables";
@import "./partials/header";
@import '../css/owl.carousel.min.css';
@import '../css/owl.theme.default.min.css';
@import "./partials/funciones";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  @font-face {
    font-family: 'CustomHeading';
    src: url('../images/font/SFSportsNight.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('../images/font/SFSportsNight.ttf') format('woff2'), /* Super Modern Browsers */
    url('../images/font/SFSportsNight.ttf') format('woff'), /* Pretty Modern Browsers */
    url('../images/font/SFSportsNight.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../images/font/SFSportsNight.ttf') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: "myFirstFont";
    src:url(../images/font/SFSportsNight.ttf);
  }
  
   
  .banner{
        display:flex;
        justify-content: center;
  }
  
  
  
  body{
    background-color: black;
  
  }
  
  ul {
    list-style-type:none
  }
  

  a{
    text-decoration: none;
    color:#fff;
  }
  
  .box_sidebar1 {
        grid-area: sidebar1;
        border-radius: 5px;
        word-wrap: break-word;
        background-color: #444;
  }
  
  .box_sidebar2 {
        grid-area: sidebar2;
        border-radius: 5px;
        word-wrap: break-word;
        background-color: #444;

  }
  
  .box_sidebar1_ligas {
        grid-area: sidebar1_ligas;
        border-radius: 5px;
  }
  
  .box_sidebar2_ligas {
        grid-area: sidebar2_ligas;
        border-radius: 5px;
        padding-left: 5px;
  }
  
  .news{
        text-align: center;
        padding-top: 20px;
  }

  .upper_box_content {
        grid-area: contenido1;
  }
  
  .lower_box_content {
        grid-area: contenido2;
  }
  
  .box_left_liga {
        grid-area: left_liga;
        display: flex;
        justify-content: center;
        gap: none;
  }
  
  .box_right_goleadores_liga {
        grid-area: right_goleadores_liga;
        background-color: #444;
        border-style: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 5px;

        h3{
            text-align: center;
        }
  }
  
    
  
  .box_right_asistencias_liga {
        grid-area: right_asistencias_liga;
        background-color: #444;
        border-style: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 5px;
        
        h3{
            text-align: center;
        }
  }
  
  
  .box_left_liga{
        border-style: solid;
        border-color: rgb(250, 116, 7);
        min-width: 347px;
        border-radius: 5px;
        background-color: #444;
        color: #fff;
  }
  
  
  .box_middle_liga{
        grid-area: middle_liga;
        justify-content: center;
        gap: none;
        background-color: #444;
        display: inline;
        padding-right: 2px;
        border-style: solid;
        border-color: rgb(250, 116, 7);
        min-width: 270px;
        border-radius: 5px;

        h3{
            padding-bottom: 2px;
            text-align: center;
            color:#fff;
        }
  }
  
  
  .tabla_goleadores{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        margin: 1px;
        td{
            padding-right: 10px;
            padding-bottom: 1px;
        }
  }
  
  .tabla_asistencias{
        display: flex;
        justify-content: center;
        padding-top: 5px;

        h3{
            margin-top: 25px;
        }

        td{
            padding-right: 10px;
            padding-bottom: 1px;
        }
  }
  
  
  .foot {
  grid-area: pie;
  }
  
  .foot_ligas {
        grid-area: pie2;
        padding-top: 3px;
        border-style: solid;
        border-radius: 5px;
        background-color: rgb(153, 153, 153);
        margin-top: 3px;
  }
  
  .container-big {
        max-height: 1200px;
        margin: 1px;
        padding: 7px;
        background-color: rgb(31, 29, 29);
        color: #444;
        display: grid;
            grid-gap: 2px;
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 8fr 8fr 2fr;
            grid-template-areas:
                "sidebar1 contenido1 sidebar2"
                "sidebar1 contenido2 sidebar2"
                "pie pie pie";
  }
  
  .container_ligas {
        margin-left: 5px;
        margin-right: 5px;
        padding: 7px;
        background-color: rgb(31, 29, 29);
        color: #fff;
        display: grid;
      
            grid-template-columns: 1fr 4fr 3fr 3fr 2fr;
            grid-template-rows: 6fr 6fr 1fr;
            grid-template-areas:
                "sidebar1_ligas left_liga middle_liga right_goleadores_liga sidebar2_ligas"
                "sidebar1_ligas left_liga middle_liga right_asistencias_liga sidebar2_ligas"
                "pie2 pie2 pie2 pie2 pie2";
  }
  
  
  .lower_box_content {
        max-height: 500px;
        background-color: #444;
        padding: 7px 0 0 0;
        color: #fff;
        border-radius: 5px;
        font-size: 60%;
        display: block;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 10px;
            .owl-carousel {
                padding-top: 10px;
                background-color: #444;
                color: #fff;
                border-radius: 5px;
                font-size: 35%;
                max-height: 480px;
                .owl-item{
                    max-height: 480px;
                    text-align: center;
                    }
                }
  }
  

  .upper_box_content {
        display: block;
        text-align: center;
        max-height: 700px;
        background-color: rgb(54, 50, 50);
        padding: 0 0 0 0;
        color: #fff;
        border-radius: 5px;
        margin-top: 7px;
  }
  

  
  .lower_outer_box_content {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        font-size: 40%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr;
        grid-template-areas:
                "uruguaya argentina premier espana"
                "uruguaya argentina premier espana";
  
  }
  
  .uruguaya, .argentina, .premier, .espana{
    height: 25%;
    text-align: center;
    min-width: 80px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    border-radius: 7px;
    font-size: small;
  }
  
  td{
  border: 1px solid #999;  
  }
  tr{
  white-space: nowrap;
  overflow: hidden;
  
  }
  th {
  border: 1px solid #999;
  
  }
  
  caption{
  font-size: 14px;
  text-align: center;
  color:#fff;
  }
  
  .foot {
    background-color: #999;
    color: black;
  }
  
  .news iframe{
    width: 170px;
    height: 190px;
  }
  

  
  .game1, .game2, .game3, .game4, .game5, .game6, .game7{
    padding: 1px;
    font-size: small;
    border-style: none;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 10% 35% 10% 10% 35%;
    grid-template-rows: 1fr;
    grid-template-areas:
            "lefty1 lefty2 centered righty1 righty2";
    .lefty1{
            grid-area: lefty1;
            }
    .lefty2{
            grid-area: lefty2;
            }
    .righty1{
            grid-area: righty1;
            }
    .righty2{
            grid-area: righty2;
            }
    .centered{
            grid-area: centered;
            }
  }
  
  .matches_liga{
        display: flex;
        justify-content: center;
        padding-top: 2px;
        background-color: #444;
        td{
            padding-right: 10px;
            padding-bottom: 2px;
            color:#fff;
            text-align: center;
            padding-top: 5px;
        }
  }
  
  
  .match1, .match2, .match3, .match4, .match5, .match6, .match7{ 
        border-style: none;
  }
  
  .premier_matches{
        display: block;
        border: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 7px;
        h3{
            font-size:medium;
            text-align: center;
            padding-bottom: 7px;
            padding-top: 5px;
        }
        li:nth-child(3) {
            text-align: center;
            border-style: solid;
            border-width:thin;
        }
    
        li:nth-child(4) {
            text-align: center;
            border-style: solid;
            border-width:thin;
        }
    
        li:nth-child(2) {
            text-align: center;
        }
      
        li:nth-child(5) {
            text-align: center;
        }

    }
  
  .uruguay_matches{
    display: block;
    border: solid;
    border-color: rgb(250, 116, 7);
    border-radius: 7px;
    h3{
        font-size:medium;
        text-align: center;
        padding-bottom: 7px;
        padding-top: 5px;
    }
    li:nth-child(3) {
        text-align: center;
        border-style: solid;
        border-width:thin;
    }
    
    li:nth-child(4) {
        text-align: center;
        border-style: solid;
        border-width:thin;
    }
    
    li:nth-child(2) {
        text-align: center;
    }
      
    li:nth-child(5) {
            text-align: center;
    }

}

  .argentina_matches{
        display: block;
        border: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 7px;
        h3{
            font-size:medium;
            text-align: center;
            padding-bottom: 7px;
            padding-top: 5px;
        }
        li:nth-child(3) {
            text-align: center;
            border-style: solid;
            border-width:thin;
        }
        
        li:nth-child(4) {
            text-align: center;
            border-style: solid;
            border-width:thin;
        }
        
        li:nth-child(2) {
            text-align: center;
        }
          
        li:nth-child(5) {
                text-align: center;
        }
  
  }
  
  .espana_matches{
        display: block;
        border: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 7px;
        h3{
            font-size:medium;
            text-align: center;
            padding-bottom: 7px;
            padding-top: 5px;
        }

        li:nth-child(3) {
            text-align: center;
            border-style: solid;
            border-width:thin;
        }
    
        li:nth-child(4) {
            text-align: center;
            border-style: solid;
            border-width:thin;
        }
    
        li:nth-child(2) {
            text-align: center;
        }
      
        li:nth-child(5) {
            text-align: center;
        }
  
  }

.box_sidebar1_qatar {
    grid-area: sidebar1_qatar;
    border-radius: 5px;
    padding-left: 5px;
}

.box_sidebar2_qatar {
    grid-area: sidebar2_qatar;
    border-radius: 5px;
    padding-left: 5px;
}

.box-left-top-qatar{
    grid-area: left-top-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: block;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 100px;
    border-radius: 5px;
    
    .owl-fecha-qatar {
        padding-top: 10px;
        display: block;
        justify-content:space-evenly;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        font-size: 80%;
        overflow: hidden;
        padding-right: 50px;
        justify-content: space-between;

        .owl-item{

            max-height: 50px;
            text-align: center;
            display: block;
            justify-content: space-between;
            
            table tr{
                margin-bottom: 50px;
            }
        }
    }

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: medium;
    }

    .fecha1, .fecha2, .fecha3{
        display: inline-block;
        justify-content: center;
        text-align: center;
        height: 25%;
        min-width: 300px;
        margin-top: 5px;
        margin-bottom: 15px;
        border-style: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 7px;
        font-size:22px;
    
      }
}

.box-middle1-top-qatar{
    grid-area: middle1-top-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }

}

.box-middle2-top-qatar{
    grid-area: middle2-top-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }
}

.box-right-top-qatar{
    grid-area: right-top-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }
}

.box-left-bottom-qatar{
    grid-area: left-bottom-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }
}

.box-middle1-bottom-qatar{
    grid-area: middle1-bottom-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }
}

.box-middle2-bottom-qatar{
    grid-area: middle2-bottom-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }
}

.box-right-bottom-qatar{
    grid-area: right-bottom-qatar;
    justify-content: center;
    gap: none;
    background-color: #444;
    display: inline;
    padding-right: 2px;
    border-style: solid;
    border-color: rgb(250, 116, 7);
    min-width: 270px;
    border-radius: 5px;

    h3{
        padding-bottom: 2px;
        text-align: center;
        color:#fff;
    }

    td{
        font-size: small;
    }
}

.foot-qatar {
    grid-area: pie-qatar;
    padding-top: 3px;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(153, 153, 153);
    margin-top: 3px;
}

.container_qatar {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
    background-color: rgb(31, 29, 29);
    color: #fff;
    display: grid;
  
        grid-template-columns: 8% 21% 21% 21% 21% 8%;
        grid-template-rows: 6fr 6fr 1fr;
        grid-template-areas:
            "sidebar1_qatar left-top-qatar middle1-top-qatar middle2-top-qatar right-top-qatar sidebar2_qatar"
            "sidebar1_qatar left-bottom-qatar middle1-bottom-qatar middle2-bottom-qatar right-bottom-qatar sidebar2_qatar"
            "pie-qatar pie-qatar pie-qatar pie-qatar pie-qatar pie-qatar";
}



/* Responsive layout - hace layout de 2 columnas en lugar de 4 */
@media screen and (max-width: 600px) {

    header {
      display: flex;

      .tittle-container{
        display: block;
        max-width: 300px;

        h1{
            padding-left: 60px;
            
        }
        
      }
  
    }
  

     
  
   .outer-header{
      border-style:solid;
      display: block;
      text-align: center;
      max-width: fit-content;

      .banner{
        display: block;
        padding-left: 3px;
        max-width: 460px;
        
        img{
            max-width: 90%;
        }
      }

    }
  
    .container-big {
      margin: 1px;
      max-height: 1260px;
      padding: 6px;
      background-color: rgb(31, 29, 29);
      color: #444;
      display: grid;
          grid-gap: 2px;
          grid-template-columns: 50% 50%;
          grid-template-rows: 1fr 5fr 2fr 1fr 5fr 3fr 1fr;
          grid-template-areas:
            "sidebar1 sidebar1"
            "contenido1 contenido1"
            "contenido1 contenido1"
            "sidebar2 sidebar2"
            "contenido2 contenido2"
            "contenido2 contenido2"
            "pie pie";
    }
    
    .lower_box_content {
      min-width: 340px;
      max-height: 380px;
      background-color: #444;
      padding: 7px 0 0 0;
      color: #fff;
      border-radius: 5px;
      font-size: 75%;
      display: block;
    }
    
    .upper_box_content {
      max-height: 380px;
      display: block;
      text-align: center;
      margin-left: 2px;
      min-width: 340px;
      background-color: #444;
      padding: 0 0 0 0;
      color: #fff;
      border-radius: 5px;
      font-size: 75%;
    }
  
    .lower_outer_box_content {
      min-width:340px;
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 73%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
            "premier";
    
    }
  
    .upper_outer_box_content {
      max-width: 340px;
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 73%;

    }
  
   .owl-carousel {
        max-height: 380px;
        padding-left: 2px;
        padding-right: 2px;
        min-width: 340px;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        font-size: 75%;
        text-align: center;
        
    }
   
  
    .container_ligas {
  
      padding: 7px;
      background-color: rgb(31, 29, 29);
      color: #fff;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 5% 40% 27% 15% 10% 3%;
      grid-template-areas:
          "sidebar1_ligas sidebar1_ligas"
          "left_liga left_liga"
          "middle_liga middle_liga"
          "right_goleadores_liga right_asistencias_liga"
          "sidebar2_ligas sidebar2_ligas"
          "pie2 pie2";

        .tabla_goleadores{
            grid-area: right_goleadores_liga;
            display: flex;
            max-width: 230px;
            padding-top: 5px;

            h3{
                margin-top: 10px;
            }

            td{
                font-size: 0.5em;
                padding-bottom: 1px;
            }
        }
      
        .tabla_asistencias{
            grid-area: right_asistencias_liga;
            display: flex;
            max-width: 230px;
            padding-top: 5px;

            .h3{
                margin-top: 10px;
            }

            td{
                font-size: 0.5em;
                padding-bottom: 1px;
            }
        }

        .box_middle_liga{
            grid-area: middle_liga;
            justify-content: center;
            gap: none;
            background-color: #444;
            display: inline;
            padding-right: 2px;
            border-style: solid;
            border-color: rgb(250, 116, 7);
            min-width: 100px;
            border-radius: 5px;
    
            h3{
                padding-bottom: 2px;
                text-align: center;
                color:#fff;
            }
        }

        .box_sidebar1_ligas {
            grid-area: sidebar1_ligas;
            border-radius: 5px;
        }
      
        .box_sidebar2_ligas {
            grid-area: sidebar2_ligas;
            border-radius: 5px;

            .news {
                padding-top: 0px;
        
                iframe{
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 10px;
                    justify-content: space-between;
                    height: 100px;
                    width: 140px;
                }
            }
        }

    }
  

    .uruguaya, .argentina, .premier, .espana{
      display: inline-block;
      justify-content: center;
      text-align: center;
      height: 25%;
      min-width: 300px;
      margin-top: 5px;
      border-style: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      font-size:18px;
  
    }
    
    .premier_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    
    .uruguay_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    .argentina_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    
    .espana_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    
    }
    
  }
  
  
  
  