header{
    min-width: 250px;
    margin-top: 2px;
    display: block;
    justify-content: space-between;
    
    .tittle-container{
        padding-top: 20px;
        min-width: 50px;
        display:flex;
        justify-content: center;

        .titulo{
            min-width: 250px;
            border-radius: 7px;
            padding-top: 5px;
            font-family: "myFirstFont";
            background-color: whitesmoke;
            color: rgb(250, 116, 7);
            text-align: center;
          }
    }


}