header{
    margin-top: 10px;
    display: block;
    justify-content: space-between;
    
    .tittle-container{
        display:flex;
        justify-content: center;

        .titulo{
            font-family: "myFirstFont";
            background-color: black;
            color: rgb(250, 116, 7);
            text-align: center;
          }
    }

    .logo-container{
        .logo{
            height: 5%;
            margin-top: 5px;
            margin-left: 15px;
            position: absolute;
            border-style: solid ;
            border-color: black;
            border-radius: 10px;
        }
    }

}