/* Responsive layout - hace layout de 2 columnas en lugar de 4 */
@media screen and (max-width: 600px) {
  
    header {
      display: flex;
    
    }
    
    h1{
      padding-left: 1px;
      
    }
    
    .tittle-container{
      display: block;
      min-width: 300px;
      
    }
    
    img{
      max-width: 290px;
    }
    
    .outer-header{
      border-style:solid;
      display: block;
      text-align: center;
      min-width: 300px;
    }
    
    .banner{
      display: block;
      padding-left: 42px;
     
      
    }

    .upper_box_content {
        grid-area: contenido1;
    }
  
    .lower_box_content {
        grid-area: contenido2;
    }

    .box_sidebar1 {
        background-color: #ccc;
        color: #444;
        grid-area: sidebar1;
        border-radius: 5px;
        word-wrap: break-word;
    }
  
    .box_sidebar2 {
        grid-area: sidebar2;
        border-radius: 5px;
        word-wrap: break-word;
    }
  
    .box_sidebar1_ligas {
        grid-area: sidebar1_ligas;
        border-radius: 5px;
    }
  
    .box_sidebar2_ligas {
        grid-area: sidebar2_ligas;
        border-radius: 5px;
        padding-left: 5px;
    }
    
    .container-big {
      margin: 1px;
      max-height: 1250px;
      padding: 6px;
      background-color: whitesmoke;
      color: #444;
      display: grid;
          grid-gap: 2px;
          grid-template-columns: 50% 50%;
          grid-template-rows: 5fr 5fr 1fr 1fr 5fr 5fr 1fr;
          grid-template-areas:
            "contenido1 contenido1"
            "contenido1 contenido1"
            "sidebar1 sidebar1"
            "sidebar2 sidebar2"
            "contenido2 contenido2"
            "contenido2 contenido2"
            "pie pie";
    }
    
    .lower_box_content {
      min-width: 340px;
      background-color: #444;
      padding: 7px 0 0 0;
      color: #fff;
      border-radius: 5px;
      font-size: 75%;
      display: block;
    }
    
    .upper_box_content {
      display: block;
      text-align: center;
      margin-left: 2px;
      min-width: 340px;
      background-color: #444;
      padding: 0 0 0 0;
      color: #fff;
      border-radius: 5px;
      font-size: 75%;
    }
    
    .lower_outer_box_content {
      min-width:340px;
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 73%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
            "premier";
    
    }


    .upper_outer_box_content {
      max-width: 340px;
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 73%;

    }
    
    .owl-carousel {
        padding-left: 2px;
        padding-right: 2px;
        min-width: 340px;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        font-size: 75%;
        text-align: center;
        
    }
    
    
    .container_ligas {
    
      padding: 7px;
      background-color: rgb(31, 29, 29);
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 4fr 2fr;
      grid-template-rows: 6fr 3fr 3fr 1fr;
      grid-template-areas:
          "sidebar1_ligas left_liga middle_liga"
          "sidebar1_ligas right_goleadores_liga  sidebar2_ligas"
          "sidebar1_ligas right_asistencias_liga sidebar2_ligas"
          "pie2 pie2 pie2";
    }
    
    .foot {
        grid-area: pie;
        }

    .uruguaya, .argentina, .premier, .espana{
        display: inline-block;
        justify-content: center;
        text-align: center;
        height: 25%;
        min-width: 300px;
        margin-top: 5px;
        border-style: solid;
        border-color: rgb(250, 116, 7);
        border-radius: 7px;
        font-size:18px;
        
        }
    
    .premier_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    
    .uruguay_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    .argentina_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    }
    
    .espana_matches{
      display: block;
      border: solid;
      border-color: rgb(250, 116, 7);
      border-radius: 7px;
      min-width: 300px;
    
    }
    
    .news iframe{
        width: 160px;
        height: 200px;
    }
    
    }
    