$color-principal: rgb(250, 116, 7);
$color-secundario: #fff;

h3{
    color: $color-secundario;
}

@mixin flex($display, $justify, $b_rad){
    display: $display;
    justify-content: $justify;
    border-radius: $b_rad;
}



