.body-index{
    // El Header esta en archivo _header.scss 
    max-height: 1020px;
    overflow-x: hidden;

        .outer-header{
            display: block;
            text-align: center;

            .banner{
                display: block;
                border-style: none;
                margin: 0;
                padding: 0;
                justify-content: center;
      
                img{
                    max-width: 90%;
                }
            }

        }

        #container-big {
            max-height: 1420px;
            margin: 1px;
            padding: 7px;
            background-color: rgb(31, 29, 29);
            color: #444;
            display: grid;
                grid-gap: 3px;
                grid-template-columns: 95% 5%;
                grid-template-rows: 4% 46.5% 44.5% 5%;
                grid-template-areas:
                    "sidebar1 sidebar1"
                    "contenido1 sidebar2"
                    "contenido2 sidebar2"
                    "pie pie";

                .box_sidebar1 {
                    grid-area: sidebar1;
                    border-radius: 5px;
                    background-color: #444;
                    padding-top: 5px;
                    margin-right: 0;
                }

                .box_sidebar2 {
                    grid-area: sidebar2;
                    border-radius: 5px;
                    background-color: #444;
                    padding-top: 5px;
                    margin-right: 0;
                }

                .upper_box_content {
                    grid-area: contenido1;
                    display: block;
                    text-align: center;
                    max-height: 940px;
                    background-color: #444;
                    padding: 2px 1% 2% 0;
                    color: #fff;
                    border-radius: 5px;
                    margin-top: 0px;
                    

                    .owl-carousel {
                        padding-top: 2px;
                        background-color: #444;
                        color: #fff;
                        border-radius: 5px;
                        max-height: 470px;
                        max-width: 1260px;

                        .owl-item{
                            max-height: 470px;
                            text-align: center;
                            max-width: 313px;
                            padding-left: 1%;

                        }
                    }

                    h3{
                        padding-bottom: 0px;
                        margin-bottom: 1px;
                    }
                    .match1, .match2, .match3, .match4, .match5, .match6, .match7{ 
                        border-style: none;
                        
                    }

                    .premier_matches{
                        display: block;
                        border: solid;
                        border-color: rgb(250, 116, 7);
                        border-radius: 7px;
                        
                        h3{
                            font-size:medium;
                            text-align: center;
                            padding-bottom: 5px;
                            padding-top: 5px;
                        }
                        li:nth-child(3) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                    
                        li:nth-child(4) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                    
                        li:nth-child(2) {
                            text-align: center;
                        }
                      
                        li:nth-child(5) {
                            text-align: center;
                        }
                
                    }
                  
                    .uruguay_matches{
                        display: block;
                        border: solid;
                        border-color: rgb(250, 116, 7);
                        border-radius: 7px;
                        h3{
                            font-size:medium;
                            text-align: center;
                            padding-bottom: 5px;
                            padding-top: 5px;
                        }
                        li:nth-child(3) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                    
                        li:nth-child(4) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                    
                        li:nth-child(2) {
                            text-align: center;
                        }
                      
                        li:nth-child(5) {
                            text-align: center;
                        }
                
                    }
                
                    .argentina_matches{
                        display: block;
                        border: solid;
                        border-color: rgb(250, 116, 7);
                        border-radius: 7px;
                        h3{
                            font-size:medium;
                            text-align: center;
                            padding-bottom: 5px;
                            padding-top: 5px;
                        }
                        li:nth-child(3) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                        
                        li:nth-child(4) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                        
                        li:nth-child(2) {
                            text-align: center;
                        }
                          
                        li:nth-child(5) {
                                text-align: center;
                        }
                  
                    }
                  
                    .espana_matches{
                        display: block;
                        border: solid;
                        border-color: rgb(250, 116, 7);
                        border-radius: 7px;
                        h3{
                            font-size:medium;
                            text-align: center;
                            padding-bottom: 5px;
                            padding-top: 5px;
                        }
                
                        li:nth-child(3) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                    
                        li:nth-child(4) {
                            text-align: center;
                            border-style: solid;
                            border-width:thin;
                        }
                    
                        li:nth-child(2) {
                            text-align: center;
                        }
                      
                        li:nth-child(5) {
                            text-align: center;
                        }
                  
                    }
                }

                .lower_box_content {
                    max-height: 500px;
                    background-color: #444;
                    padding: 0.1% 1% 1% 0;
                    color: #fff;
                    border-radius: 5px;
                    font-size: 60%;
                    display: block;
                    text-align: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
              
                            .owl-carousel {
                                padding-top: 2px;
                                padding-left: 0;
                                background-color: #444;
                                color: #fff;
                                border-radius: 5px;
                                max-height: 480px;

                                .owl-item{
                                    max-height: 470px;
                                    padding-left: 1%;
                                    text-align: center;

                                    th:nth-child(1){
                                        width: 3rem;
                                    }

                                    th:nth-child(2){
                                        width: 12rem;
                                    }
                                    th:nth-child(n+3):nth-child(-n+10){
                                        width: 2rem;
                                    }
        
                                }
                            }
            
                    h3{
                        padding-top: 0.4%;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }

                .foot {
                    grid-area: pie;
                    background-color: #999;
                    color: black;
                }
        }
  }

  /* Responsive layout -  */
@media screen and (max-width: 600px) {

 .body-index, html{
        //overflow-x: hidden;
        width:100%;
     
    #container-big {
        max-height: 400px;
        margin: 0 1px 0 1px;
        padding: 1px;
        background-color: #444;
        color: #444;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.5fr 6fr 1fr 7fr 1fr;
            grid-template-areas:
                "sidebar1 sidebar1"
                "contenido1 contenido1"
                "sidebar2 sidebar2"
                "contenido2 contenido2"
                "pie pie";

                .box_sidebar1 {
                    grid-area: sidebar1;
                    border-radius: 5px;
                    background-color: #444;
                    padding-top: 3px;
                    margin-right: 0;
                }

                .box_sidebar2 {
                    grid-area: sidebar2;
                    border-radius: 5px;
                    background-color: #444;
                    padding-top: 0px;
                }

                .upper_box_content {
                    grid-area: contenido1;
                    display: block;
                    text-align: center;
                    max-height: 160px;
                    width: 390px;
                    background-color: #444;
                    padding: 0 0 0 0%;
                    color: #fff;
                    border-radius: 5px;
                    margin-top: 0px;

                    .owl-carousel {
                        display: inline-block;
                        padding-top: 5px;
                        background-color: #444;
                        color: #fff;
                        border-radius: 5px;
                        max-height: 200px; // altura exacta
                        width: 300px;
                        margin-left: 0.8%;
                        padding-left: 0;
                        //margin-right: 1%;
                        //padding-left: 0.5rem;
                        //padding-right: 0.5rem;
                        
                        .owl-item{
                            max-height: 300px;
                            width: 215px;
                            margin-left: 0.3%;
                            margin-right: 1.3%;
                            padding-right: 1rem;
                            text-align: center;
                        }


                    }

                    h3{
                        padding-bottom: 3px;
                        //margin-top: 2px;
                    }
                }

                .lower_box_content {
                    max-height: 200px;
                    background-color: #444;
                    padding: 0.1% 0 0 0;
                    color: #fff;
                    border-radius: 5px;
                    font-size: 60%;
                    display: block;
                    text-align: center;
                    justify-content: space-between;
                    margin-bottom: 0px;
                        .owl-carousel {
                            padding-top: 5px;
                            background-color: #444;
                            color: #fff;
                            border-radius: 5px;
                            max-height: 400px;
                            .owl-item{
                                max-height: 380px;
                                text-align: center;
                                padding-right: 0.8%;
                            }
                        }
            
                    h3{
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }

                .foot {
                    grid-area: pie;
                    display: inline-block;
                    border-style: solid;
                    background-color: #999999;
                    color: black;
                    margin-top: 0px;
                    padding-top: 0%;

                    p{
                        display:inline-block;
                        padding-top: 10px;
                    }
                }
        }


    }
}
